{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<style> .no-label { label{ display: None; } } </style>
<form method="post">
{{ api_form.csrf_token }}

    <h4>Stratux Radar-Display Pushbutton Interface</h4>
<br>
{{ render_form_row([api_form.left_short, api_form.middle_short, api_form.right_short],
    button_map={'left_short': 'success', 'middle_short': 'success', 'right_short': 'success'}) }}
{{ render_form_row([api_form.left_long, api_form.middle_long, api_form.right_long],
    button_map={'left_long': 'primary', 'middle_short': 'primary', 'right_short': 'primary'}) }}
</form>

{% endblock %}