{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stratux-Radar-Display Configuration Application</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <style>
        pre {
            background: #ddd;
            padding: 10px;
        }
        h2 {
            margin-top: 20px;
        }
        footer {
            margin: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </nav>
    
    <main class="container">
        {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2023–<script>document.write(new Date().getFullYear())</script> <a href="https://github.com/TomBric">Thomas Breitbach</a>
            </small>
        {% endblock %}
    </footer>

</body>
</html>
