{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<style> .no-label { label{ display: None; } } </style>
<form method="post">
{{ checklist_form.csrf_token }}

<h4>Upload a checklists</h4>
<br>
Upload a file:
    <input type="file" id="file-input" >
{{ render_field(checklist_form.filename) }}
{{ render_form_row([checklist_form.upload, checklist_form.exit],
    button_map={'upload': 'success', 'exit': 'primary'}) }}
</form>

{% endblock %}
