{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<style> .no-label { label{ display: None; } } </style>
<form method="post">
{{ checklist_form.csrf_token }}

<h4>Edit all checklists</h4>
<br>
{% for list in checklist_form.lists %}
    {{ render_form(list) }
    -----
    {{ render_field(list.form.name) }}
    {{ render_form_row([list.edit, list.delete],
                button_map={'edit': 'success', 'delete': 'danger'}) }}
{% endfor %}

{{ render_form_row([checklist_form.exit, checklist_form.add],
                button_map={'exit': 'success', 'add': 'primary'}) }}

</form>

{% endblock %}
