{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<style> .no-label { label{ display: None; } } </style>
<form method="post">
{{ radar_form.csrf_token }}

<h4>Stratux Radar-Display Configuration</h4>
<br>
{{ render_field(radar_form.stratux_ip, form_type='horizontal') }}
{{ render_field(radar_form.display, form_type='horizontal') }}

<br>
<h5>Select screens and their sequence</h5>
<div class="form-control form-control-sm">
{{ render_form_row([radar_form.radar, radar_form.radar_seq], col_map={'radar': 'col-md-3', 'radar_seq': 'no-label col-md-1'}) }}
{{ render_form_row([radar_form.timer, radar_form.timer_seq], col_map={'timer': 'col-md-3', 'timer_seq': 'no-label col-md-1'}) }}
{{ render_form_row([radar_form.ahrs, radar_form.ahrs_seq], col_map={'ahrs': 'col-md-3', 'ahrs_seq': 'no-label col-md-1'}) }}
{{ render_form_row([radar_form.gmeter, radar_form.gmeter_seq], col_map={'gmeter': 'col-md-3', 'gmeter_seq': 'no-label col-md-1'}) }}
{{ render_form_row([radar_form.compass, radar_form.compass_seq], col_map={'compass': 'col-md-3', 'compass_seq': 'no-label col-md-1'}) }}
{{ render_form_row([radar_form.vspeed, radar_form.vspeed_seq], col_map={'vspeed': 'col-md-3', 'vspeed_seq': 'no-label col-md-1'}) }}
{{ render_form_row([radar_form.flogs, radar_form.flogs_seq], col_map={'flogs': 'col-md-3', 'flogs_seq': 'no-label col-md-1'}) }}
{{ render_form_row([radar_form.cowarner, radar_form.cowarner_seq], col_map={'cowarner': 'col-md-3', 'cowarner_seq': 'no-label col-md-1'}) }}
{{ render_form_row([radar_form.gps_dist, radar_form.gps_dist_seq], col_map={'gps_dist': 'col-md-3', 'gps_dist_seq': 'no-label col-md-1'}) }}
{{ render_form_row([radar_form.status, radar_form.status_seq], col_map={'status': 'col-md-3', 'status_seq': 'no-label col-md-1'}) }}
{{ render_form_row([radar_form.stratux, radar_form.stratux_seq], col_map={'stratux': 'col-md-3', 'stratux_seq': 'no-label col-md-1'}) }}
{{ render_form_row([radar_form.checklist, radar_form.checklist_seq, radar_form.checklist_filename],
    col_map={'checklist': 'col-md-3', 'checklist_seq': 'no-label col-md-1', 'checklist_filename': 'col-md-6'}) }}
</div>
<h5>Radar traffic display options</h5>
{{ render_form_row([radar_form.registration, radar_form.ground_mode, radar_form.full_circle],
    col_map={'registration': 'col-md-3', 'ground_mode': 'col-md-3', 'full_circle': 'col-md-3'}) }}


<h5>Sound options</h5>
{{ render_form_row([radar_form.bluetooth, radar_form.speakdistance],
    col_map={'bluetooth': 'col-md-3', 'speakdistance': 'col-md-3'}) }}
{{ render_form_row([radar_form.external_sound, radar_form.sound_volume, radar_form.mixer],
    col_map={'external_sound': 'col-md-3', 'sound_volume': 'col-md-3', 'mixer': 'col-md-3'}) }}

<h5>Special options</h5>
{{ render_form_row([radar_form.coindicate, radar_form.no_cowarner, radar_form.no_flighttime],
    col_map={'coindicate': 'col-md-3', 'no_cowarner': 'col-md-3', 'no_flighttime': 'col-md-3'}) }}

<h5>Ground sensor (LIDAR) options</h5>
{{ render_form_row([radar_form.groundsensor, radar_form.groundbeep, radar_form.gearindicate],
    col_map={'groundsensor': 'col-md-3', 'groundbeep': 'col-md-3', 'gearindicate': 'col-md-3'}) }}

<h5>Web server shutdown time</h5>
{{ render_field(radar_form.webtimeout, form_type='horizontal') }}

{{ render_form_row([radar_form.save_restart, radar_form.save, radar_form.restart, radar_form.cancel],
    button_map={'save_restart': 'success', 'save': 'primary', 'restart': 'secondary', 'cancel':'danger'}) }}
</form>

{% endblock %}
