# part of stratux-radar-display to enable bluetooth without user login
# put this into file /etc/systemd/system/bluetooth-connect.service

[Unit]
Description=Bluetooth Connection

[Service]
ExecStart=/path/to/bluetooth_connect.sh
Restart=always
User=pi

[Install]
WantedBy=multi-user.target