# part of stratux-radar-display to enable bluetooth without user login
# put this into file /etc/systemd/system/pulseaudio.service

[Unit]
Description=PulseAudio system server

[Service]
ExecStart=/usr/bin/pulseaudio --system --disallow-exit --disable-shm --exit-idle-time=-1
Restart=always

[Install]
WantedBy=default.target
